html {
    background-color: gray;
}

body {
    width: 200vh;
    height: 200vh;
    background-color: orange;
}

header {
    background-color: yellow;
}

main {
    background-color: green;
}

section {
    background-color: yellow;
}

form {
    background-color: palevioletred;
}

h1 {
    text-align: center;
}

/* navbar id, centrée et sans puce */
#nav-bar {
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(110, 110, 189);
}

/* Conteneur principal qui aligne les éléments sur une ligne : aligné depuis le haut, avec le même espace entre chaque élément */
.conteneur {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    margin-top: 30px;
    width: 100%; 
}

/* Style pour que chaque élément rempli l'espace de manière = à l'intérieur du conteneur */
.element {
    flex: 1; 
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: pink;
}

