body {
    width: 200vh;
    height: 200vh;
}

h1 {
    text-align: center;
}

#nav-bar {
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}